name: Keep Supabase Alive

on:
  schedule:
    # Esegue il job ogni giorno a mezzanotte
    - cron: '0 0 * * *'
  workflow_dispatch: # Ti permette di avviarlo manualmente per testare

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase API
        run: |
          curl -i -X GET "https://nmmkapltpimlksngphmk.supabase.co/rest/v1/" \
          -H "apikey: ${{ secrets.SUPABASE_ANON_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.SUPABASE_ANON_KEY }}"
